<section class="contact">
  <div class="container">
    <div class="contact-start">
      <div class="contact-icon-wrapper">
        <img
          class="contact-icon"
          src="./img/contact.png"
          alt="contact`s icon"
          width="76"
          height="90"
        />
      </div>
      <h2 class="contact-title">Contact</h2>
    </div>
    <ul class="contact-list">
      <li class="contact-list-item">
        <ul class="contact-type">
          <li class="contact-descr sign">📧</li>
          <li class="contact-descr">Email:</li>
          <li class="contact-descr yellow">
            <a href="mailto:support@royalturborush.com"
              >support@royalturborush.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contact-list-item">
        <ul class="contact-type">
          <li class="contact-descr sign">📍</li>
          <li class="contact-descr">Studio HQ:</li>
          <li class="contact-descr yellow">
            <a href="https://www.google.com/maps/"
              >99 Arcane Tower Rd, Gameforge City</a
            >
          </li>
        </ul>
      </li>
      <li class="contact-list-item">
        <ul class="contact-type">
          <li class="contact-descr sign">🕐</li>
          <li class="contact-descr">Support Hours:</li>
          <li class="contact-descr yellow">Mon–Fri, 9am–5pm GMT</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
