<section class="crash" id="merge">
  <div class="container">
    <div class="crash-start">
      <div class="crash-icon-wrapper">
        <img
          class="crash-icon-img"
          src="/img/star.png"
          alt="crash`s icon"
          width="76"
          height="90"
        />
      </div>
      <div class="crash-head">
        <h2 class="crash-title">Crash & Recovery</h2>
        <h3 class="crash-subtitle">Survive the Crash – Regain Control</h3>
      </div>
    </div>

    <div class="crash-line">
      <ul class="crash-line-list">
        <li class="crash-line-item">
          <div class="crash-slide">
            <div class="crash-wrap-img">
              <picture>
                <source
                  srcset="/img/crash1.png 1x, /img/crash1@2x.png 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="/img/crash-m.png 1x, /img/crash-m@2x.png 2x"
                  media="(max-width: 1199px)"
                />
                <img
                  class="crash-img"
                  src="/img/crash-m.png"
                  alt="crash`s photo"
                  width="238"
                  height="166"
                />
              </picture>
            </div>
            <div class="crash-wrap-text">
              <p class="crash-text green">
                Under pressure? <br />Units may panic and collapse
              </p>
            </div>
          </div>
        </li>
        <li class="crash-line-item">
          <div class="crash-slide crash-slide-hide">
            <div class="crash-wrap-img">
              <img
                class="crash-img"
                src="/img/crash2.png"
                srcset="/img/crash2.png 1x, /img/crash2@2x.png 2x"
                alt="crash`s photo"
                width="211"
                height="185"
              />
            </div>
            <div class="crash-wrap-text">
              <p class="crash-text">
                Rebuild quickly by merging and reactivating defenses
              </p>
            </div>
          </div>
        </li>
        <li class="crash-line-item">
          <div class="crash-slide crash-slide-hide">
            <div class="crash-wrap-img">
              <img
                class="crash-img"
                src="/img/crash3.png"
                srcset="/img/crash3.png 1x, /img/crash3@2x.png 2x"
                alt="crash`s photo"
                width="211"
                height="185"
              />
            </div>
            <div class="crash-wrap-text">
              <p class="crash-text">
                Use crash timers, energy cores, or Hero Focus to delay collapse
              </p>
            </div>
          </div>
        </li>
        <li class="crash-line-item">
          <div class="crash-slide crash-slide-hide">
            <div class="crash-wrap-img">
              <img
                class="crash-img"
                src="/img/crash4.png"
                srcset="/img/crash4.png 1x, /img/crash4@2x.png 2x"
                alt="crash`s photo"
                width="211"
                height="185"
              />
            </div>
            <div class="crash-wrap-text">
              <p class="crash-text">
                Master the Art of Reversal – crash, recover, retaliate!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <p class="crash-text yellow">
        It’s not over unless your entire board breaks.
      </p>
    </div>
  </div>
</section>
