<section class="cta section" id="cta">
  <div class="container">
      <div class="cta-start">
          <div class="cta-icon-wrapper">
            <img
              class="cta-icon-img"
              src="/img/ring.png"
              alt="cta`s icon"
              width="76"
              height="90"
            />
            </div>
            <div class="cta-text-wrapper">
              <div class="cta-head">
                  <h2 class="cta-title">CTA</h2>
                  <h3 class="cta-subtitle">Defend. Merge. Dominate.
                  </h3>
              </div>
            </div>
      </div>
      <div class="cta-swiper swiper-container" id="cta-swiper">
        <div class="cta-wrapper swiper-wrapper">
          <div class="swiper-slide">
            <div class="cta-slide slide-1">
              <div class="cta-wrap-img">
                <img 
                class="cta-img"
                src="/img/cta1.png 1x"
                srcset="
                /img/cta1.png    1x,
                /img/cta1@2x.png 2x"
                alt="photo`s cta 1"
                width="213"
                height="158"
                >
              </div>
              <p class="cta-descr">Don’t let <span class="red"> Mazdor </span>take the kingdoms</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cta-slide slide-2">
              <div class="cta-wrap-img">
                <img 
                class="cta-img"
                src="/img/cta2.png 1x"
                srcset="
                /img/cta2.png    1x,
                /img/cta2@2x.png 2x"
                alt="photo`s cta 2"
                width="213"
                height="158">
              </div>
              <p class="cta-descr">Forge your team, master the battlefield, and rise in the ranks of Pal Go’s fiercest defenders.</p>
            </div>
          </div>
        </div>
      </div>
    
         <div class="cta-down-wrapper">
           <ul class="cta-download">
            <li class="cta-download-item">
              <a class="cta-down-link" href="https://royalturborush.com" download="">Download Now</a>
            </li>
            <li class="cta-download-item">
              <a class="cta-google-link" href="https://royalturborush.com"
                >Free on
                <img
                class="cta-google-icon"
                srcset="/img/google.png 1x, /img/google@2x.png 2x"
                src="/img/google.png"
                alt="google icon"
                width="16"
                height="16"
              />
              </a>
            </li>
           </ul>
         </div>
         <div class="cta-down-descr">
           <p class="cta-down-text">Join the Defense Now – Free Download</p>
         </div>
      </div>
   </div>
</section>
