<section class="domination section" id="domination">
  <div class="container">
    <div class="domination-area">
      <div class="dom-icon-wrapper">
        <img
          class="domination-icon"
          src="/img/swords.png"
          alt="domination`s icon"
          width="76"
          height="76"
        />
      </div>
      <div class="dom-text-wrapper">
        <div class="domination-head">
          <h2 class="domination-title">PvP Domination</h2>
          <h3 class="domination-subtitle">One Arena. Two Players. No Mercy.</h3>
        </div>
        <p class="domination-text">
            Clash in real-time against global players in tense,
            unforgiving PvP skirmishes: </p>
      </div>
    </div>

      <div class="dom-swiper swiper-container" id="dom-swiper">
        <button type="button" class="dom-start" data-action="prev">
        </button>

        <div class="dom-wrapper swiper-wrapper">
          <div class="dom-slide swiper-slide" data-slide="1">
            <div class="domination-wrap-img">
                <img
                    class="domination-img"
                    src="/img/domination.png 1x"
                    srcset="
                      /img/domination.png    1x,
                      /img/domination@2x.png 2x"
                    alt="domination`s photo"
                    width="210"
                    height="118"
                  />
            </div>
            
            <div class="domination-wrapper">
              <ul class="domination-list">
                <li class="domination-list-item">
                  Break through enemy lines with elite merged troops
                </li>
                <li class="domination-list-item">
                  Exploit their positioning and force a crash
                </li>
              </ul>
            </div>
          </div>
          <div class="dom-slide swiper-slide" data-slide="2">
            <div class="domination-wrap-img">
                <img
                    class="domination-img"
                    src="/img/domination2.png 1x"
                    srcset="
                      /img/domination2.png    1x,
                      /img/domination2@2x.png 2x"
                    alt="domination`s photo"
                    width="210"
                    height="118"
                  />
            </div>

            <div class="domination-wrapper">
              <ul class="domination-list">
                <li class="domination-list-item ">
                  Master counter-play by reading enemy builds
                </li>
                <li class="domination-list-item">
                  Rise through ranked tiers and earn exclusive PvP-only loot
                </li>
                <li class="domination-list-item">
                  Every battle counts — and every crash resets the board
                </li>
              </ul>
            </div>
          </div>
        </div>

        <button type="button" class="dom-end" data-action="next">
        </button>
      </div>
    </div>

    <p class="domination-info">
      Victory is not luck. It’s perfect positioning.
    </p>
  </div>
</section>
