<section class="features" id="features">
    <div class="container">
      <div class="features-header">
        <div class="img-title">
          <img
            src="./img/gamepad.png"
            width="76px"
            max-height="76px"
            alt="Gamepad Icon"
            class="gamepad-icon"
          />
        </div> 
        <div class="titles">
        <h2 class="title_features">Game Features</h2>
        <h3 class="sub-features">Everything That Makes Pal Go Legendary</h3>
          </div>
      </div>
           <div class="div-swiper">
        
             <div class="swiper" >
             <div class="features-swiper" id="features-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img srcset="./img/pic1.png 1x, ./img/pic1@2x.png 2x" 
              src="./img/pic1.png" 
              width="264px" 
              alt="Image1" />
              <p class="features-text">
                <span class="span_features">🔥 Crash-Resistant Strategy:</span> A
                new twist where your defense can literally collapse!
              </p>
            </div>
            <div class="swiper-slide">
              <img srcset="./img/pic2.png 1x, ./img/pic2@2x.png 2x"
              src="./img/pic2.png" width="264px" alt="Image2" />
              <p class="features-text">
                <span class="span_features">⚔️ Merge-to-Rank Mechanics:</span>
                Combine and enhance troops on the fly
              </p>
            </div>
            <div class="swiper-slide">
              <img srcset="./img/pic3.png 1x, ./img/pic3@2x.png 2x" src="./img/pic3.png" width="264px" alt="Image3" />
              <p class="features-text">
                <span class="span_features">🏹 PvP Arena Skirmishes:</span>
                Real-time strategy meets fast-paced combat
              </p>
            </div>
            <div class="swiper-slide">
              <img srcset="./img/pic4.png 1x, ./img/pic4@2x.png 2x" src="./img/pic4.png" width="264px" alt="Image4" />
              <p class="features-text">
                <span class="span_features">🏰 Tower Building:</span> Tactical
                base-building and reinforcement
              </p>
            </div>
            <div class="swiper-slide">
              <img srcset="./img/pic5.png 1x, ./img/pic5@2x.png 2x" src="./img/pic5.png" width="264px" alt="Image5" />
              <p class="features-text">
                <span class="span_features">🧠 Hero Customization:</span> Choose
                your champion and unlock abilities
              </p>
            </div>
            <div class="swiper-slide">
              <img srcset="./img/pic6.png 1x, ./img/pic6@2x.png 2x" src="./img/pic6.png" width="264px" alt="Image6" />
              <p class="features-text">
                <span class="span_features">📈 Live Leaderboards:</span> Show your
                rank and climb to global domination
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./img/pic7.png" width="264px" alt="Image7" />
              <p class="features-text">
                <span class="span_features">🎯 Adaptive AI:</span> No two battles
                feel the same
              </p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
              </div>
                   </div>
          
        </div>
  </section>
  