<footer class="footer">
  <div class="container footer">
    <div class="footer-social">
      <ul class="footer-list-icons">
        <li class="footer-item-icons">
          <div class="social-wrapper">
            <svg class="social-icons" fill="none" width="20" height="20">
              <use href="/img/sprite.svg#icon-discord"></use>
            </svg>
          </div>
        </li>
        <li class="footer-item-icons">
          <div class="social-wrapper">
            <svg class="social-icons" fill="none" width="20" height="20">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </div>
        </li>
        <li class="footer-item-icons">
          <div class="social-wrapper">
            <svg class="social-icons" fill="none" width="20" height="20">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </div>
        </li>
        <li class="footer-item-icons">
          <div class="social-wrapper">
            <svg class="social-icons" fill="none" width="20" height="20">
              <use href="/img/sprite.svg#icon-tiktok"></use>
            </svg>
          </div>
        </li>
        <li class="footer-item-icons">
          <div class="social-wrapper">
            <svg class="social-icons" fill="none" width="20" height="20">
              <use href="/img/sprite.svg#icon-inst"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer-wrapper">
      <div class="footer-terms">
        <ul class="footer-list-terms">
          <li class="footer-item-terms">
            <a href="/privacy.html" class="terms-descr">Privacy Policy</a>
          </li>
          <li class="footer-item-terms">
            <a href="" class="terms-descr">Terms and Conditions</a>
          </li>
          <li class="footer-item-terms">
            <a href="" class="terms-descr">Cookies</a>
          </li>
        </ul>
        <p class="footer-copyright">
          royalturborush.com © 2025. All rights reserved.
        </p>
      </div>
      <div class="footer-logo">
        <a class="logo-link" href="/index.html" aria-label="Site logo">
          <picture>
            <source
              srcset="/img/logo-d.png 1x, /img/logo-d@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/img/logo-m.png 1x, /img/logo-m@2x.png 2x"
              media="(max-width: 1199px)"
            />
            <img
              src="/img/logo-m.png"
              alt="logo"
              width="24"
              height="24"
              class="logo"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</footer>
