<section class="hero section" id="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-box">
        <p class="hero-text">Welcome to</p>
        <h1 class="hero-title">Pal Go</h1>
        <p class="hero-subtitle">
          Step into a world of chaos and strategy in Pal Go:
        </p>
        <p class="hero-descr">
          Tower Defense TD, the next-generation PvP defense game that merges
          classic tower gameplay with epic roguelite mechanics. Build your army,
          stop the crash, and outsmart the dark wizard Mazdor the Black before
          he consumes the Acorn Kingdoms
        </p>
      </div>
      <ul class="hero-list">
        <li class="hero-list-item">Merge</li>
        <li class="hero-list-item">Defend</li>
        <li class="hero-list-item">Dominate</li>
      </ul>
    </div>

    <ul class="hero-question">
      <li><p>Are you fast enough?</p></li>
      <li><p>Ready enough?</p></li>
      <li><p>Smart enough?</p></li>
    </ul>

    <ul class="hero-download">
      <li class="hero-download-item">
        <a class="hero-down-link" href="https://play.google.com/store/apps/details?id=com.playwindgames.freedefender&hl=en_US" target="_blank" download=""
          >Download Now</a
        >
      </li>
      <li class="hero-download-item">
        <a class="hero-google-link" href="https://play.google.com/store/apps/details?id=com.playwindgames.freedefender&hl=en_US" target="_blank"
          >Free on
          <img
            class="hero-google-icon"
            srcset="/img/google.png 1x, /img/google@2x.png 2x"
            src="/img/google.png"
            alt="google icon"
            width="16"
            height="16"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
