<section class="merge" id="merge">
  <div class="container">
    <div class="merge-start">
      <div class="merge-icon-wrapper">
        <img
          class="merge-icon-img"
          src="/img/dna.png"
          alt="merge`s icon"
          width="76"
          height="76"
        />
      </div>
      <div class="merge-head">
        <h2 class="merge-title">Merge & Rank Mechanics</h2>
        <h3 class="merge-subtitle">Merging Is Your Power –But Use It Wisely</h3>
      </div>
    </div>
  </div>
  <div class="merge-slide">
    <ul class="merge-line-list">
      <li class="merge-line-item merge-line-hide">
        <div class="merge-line">
          <div class="merge-wrap-img">
            <img
              class="merge-img"
              src="/img/merge2.png 1x"
              srcset="/img/merge2.png 1x, /img/merge2@2x.png 2x"
              alt="merge`s photo"
              width="184"
              height="237"
            />
          </div>
          <div class="merge-wrap-text">
            <p class="line-text">Merge identical units to rank them up</p>
          </div>
          <div class="merge-wrap-img">
            <img
              class="merge-img"
              src="/img/merge3.png 1x"
              srcset="/img/merge3.png 1x, /img/merge3@2x.png 2x"
              alt="merge`s photo"
              width="181"
              height="233"
            />
          </div>
        </div>
      </li>

      <li class="merge-line-item">
        <div class="merge-line middle">
          <div class="merge-wrap-text">
            <p class="line-text merge-line-hide">
              Combine strategically to unlock special attacks
            </p>
          </div>
          <div class="merge-wrap-img">
            <img
              class="merge-img"
              src="/img/merge1.png 1x 1x"
              srcset="/img/merge1.png 1x, /img/merge1@2x.png 2x"
              alt="merge`s photo"
              width="232"
              height="299"
            />
          </div>
          <div class="merge-wrap-text">
            <p class="line-text merge-line-hide">
              Stack your deck based on synergy and roles
            </p>
          </div>
        </div>
      </li>

      <li class="merge-line-item merge-line-hide">
        <div class="merge-line">
          <div class="merge-wrap-img">
            <img
              class="merge-img"
              src="/img/merge4.png 1x"
              srcset="/img/merge4.png 1x, /img/merge4@2x.png 2x"
              alt="merge`s photo"
              width="181"
              height="233"
            />
          </div>
          <div class="merge-wrap-text">
            <p class="line-text">
              Every merge affects positioning, cost, and cooldown
            </p>
          </div>
          <div class="merge-wrap-img">
            <img
              class="merge-img"
              src="/img/merge5.png 1x"
              srcset="/img/merge5.png 1x, /img/merge5@2x.png 2x"
              alt="merge`s photo"
              width="181"
              height="233"
            />
          </div>
        </div>
      </li>
    </ul>

    <div class="merge-wrapper">
      <ul class="merge-list">
        <li class="merge-list-item green">
          One bad placement could lead to a full CRASH
        </li>
        <li class="merge-list-item yellow">
          Pal Go is a thinking player’s battlefield.
        </li>
      </ul>
    </div>
  </div>
</section>
