<section class="optimized" id="optimized">
  <div class="container">
    <h2 class="title">Mobile Optimized</h2>
    <div class="cont-opt">
    <div class="opt-img-cont">
      <img
        class="title-img-opt"
        src="/img/iPhone16.png"
        srcset="/img/iPhone16.png 1x, /img/iPhone16@x2.png 2x"
        alt="iPhone16"
      />
    </div>
    <div class="swiper" id="opt-swiper">
        <ul class="swiper-wrapper opt-swiper">
          <li class="swiper-slide slide-opt">
           <p class="text-opt">Offline mode for single-player practice
        </p>
          </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">Sync progress with Google Play</p>
           </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">Battery-optimized engine</p>
          </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">Works on all Android 6.0+ devices
            </p>
           </li>
          <li class="swiper-slide slide-opt">
             <p class="text-opt">Controller-friendly for advanced users</p>
          </li>
        </ul>
      </div>
        <div class="div-btn-opt">
          <button class="btn-prev-opt prev-opt" data-prev="prev-opt">
            <svg class="svg-sc" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_left"></use>
            </svg>
          </button>
          <button class="btn-next-opt next-opt" data-next="next-opt">
            <svg class="svg-sc" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_rigth"></use>
            </svg>
          </button>
        </div>
  </div>
</section>
