<section class="optimized" id="optimized">
  <div class="container">
    <div class="opt-div">
      <img
        class="title-image"
        src="/img/mob-opt.png"
                alt="Mobile Phone"
      />
         
    <h2 class="title">Mobile Optimized</h2>
  </div>
    <div class="cont-opt">
    <div class="opt-img-cont">
      <img
        class="title-img-opt"
        src="/img/iPhone16.png"
        srcset="/img/iPhone16.png 1x, /img/iPhone16@2x.png 2x"
        alt="iPhone16"
      />
    </div>
    <div class="swiper" id="opt-swiper">
        <ul class="swiper-wrapper opt-swiper">
          <li class="swiper-slide slide-opt">
           <p class="text-opt">💾 Offline mode for single-player practice

        </p>
          </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">🔋 Battery-optimized engine
            </p>
           </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">🌐 Sync progress with Google Play

            </p>
          </li>
          <li class="swiper-slide slide-opt">
            <p class="text-opt">📲 Works on all Android 6.0+ devices

            </p>
           </li>
          <li class="swiper-slide slide-opt">
             <p class="text-opt">🎮 Controller-friendly for advanced users
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    
  </div>
</section>
