<section  id="rules">
    <div class="rules-container">
          <a class="back-link" href="./index.html">&#60;  Home</a></br>
          <h1 class="rules-title">Privacy Policy</h1>
          <div class="rules-wrapper">
          <p class="text-subtitle"><span class="bold">Updated: </span>2025-05-16</h2>
          <p class="info-descr">This Privacy Policy applies to the royalturborush.com website (hereinafter referred to as "Website"). By accessing or using our services, you agree to the collection and use of information as described in this policy.
          </p>
          </div>
          
          <ol class="rules-list">
          <li class="rules-list-item"><h2 class="item-title">Information We Collect</h2>
          <p class="text-subtitle">The Website may collect the following types of data:
          </p>
          <ul class="info-list">
              <li class="info-list-item"><span class="bold">Personal Information: </span>
                   Name, email address, and other details if voluntarily provided.</span></li>
              <li class="info-list-item"><span class="bold">Technical Data: </span> IP address, browser type, and device information for analytics purposes.</li>
              <li class="info-list-item"><span class="bold">Cookies & Tracking: </span>We use cookies to enhance user experience and track usage trends.</li>
          </ul>
          </li>

          <li class="rules-list-item"><h2 class="item-title">How We Use Your Information</h2>
          <p class="text-subtitle">The data we collect may be used for:
          </p>
          <ul class="info-list">
              <li class="info-list-item">Providing and improving our services.</li>
              <li class="info-list-item">Enhancing website security and preventing fraud.</li>
              <li class="info-list-item">Analyzing trends and user behavior through analytics tools.</li>
          </ul>
          </li>

          <li class="rules-list-item"><h2 class="item-title">Cookies and Tracking Technologies</h2>
          <p class="info-descr">We use cookies and similar technologies to personalize content, track website performance, and improve user experience. Users can manage or disable cookies through browser settings.
          </p>
          </li>

          <li class="rules-list-item"><h2 class="item-title">Third-Party Services</h2>
              <p class="text-subtitle">We may use third-party services such as Google Analytics to monitor traffic and improve services. These services have their own privacy policies, which can be reviewed on their respective websites. Below are the links to the Privacy Policy of the third-party service providers used by the Application:
              </p>
              <ul class="info-list">
                  <li class="info-list-item blue"><a class="info-social" href="#">Google Play Services</a></li>
                  <li class="info-list-item blue"><a class="info-social" href="#">Google Analytics for Firebase</a></li>
                  <li class="info-list-item blue"><a class="info-social" href="#">Facebook</a></li>
              </ul>
          </li>

          <li class="rules-list-item"><h2 class="item-title">Data Security</h2>
              <p class="info-descr">We implement security measures to protect collected information from unauthorized access or misuse. However, no method of transmission over the internet is 100% secure.</p>
          </li>

          <li class="rules-list-item"><h2 class="item-title">Children’s Privacy</h2>
              <p class="info-descr">Our Website is not intended for children under 13, and we do not knowingly collect personal data from them. If we become aware that a child has provided information, we will take steps to delete it.
          </li>
          
          <li class="rules-list-item"><h2 class="item-title">Changes to This Policy</h2>
              <p class="info-descr">We may update this Privacy Policy periodically. Users will be notified of significant changes through the Website. Continued use of the Website after modifications implies acceptance of the updated policy.</p>
          </li>

          <li class="rules-list-item"><h2 class="item-title"> Your Rights</h2>
              <p class="text-subtitle">Under applicable laws (e.g., GDPR, CCPA), you have rights to:</p>
              <ul class="info-list">
                  <li class="info-list-item">Access, update, or delete your personal data.</li>
                  <li class="info-list-item">Withdraw consent for data collection.</li>
                  <li class="info-list-item">Request a copy of the data we store about you.</li>
              </ul>
              <p class="info-descr">To exercise your rights, contact us via email.</p>

          <li class="rules-list-item"><h2 class="item-title">Contact Us</h2>
              <p class="info-descr">If you have any questions or concerns about this Privacy Policy, please contact us at <span class="info-mail"><a href="info@royalturborush.com" target="_blank">info@royalturborush.com</span>.</li>
           </ol>
    </div>
  </section>
  