<section class="reviews" id="reviews">
    <div class="container">
      <div class="reviews">
        <img
          class="title-img"
          src="./img/reviewsicon.png"
          alt="reviews"
        />
        <div class="div-titile-reviews">
          <h2 class="title">Reviews</h2>
          <p class="text-reviews">Players Are Merging to Victory
        </p>
        </div>
      </div>
      <div class="swiper" id="reviews-swiper">
        <ul class="swiper-wrapper reviews-swiper">
          <li class="swiper-slide slide-reviews">
            <img
              class="img-reviews"
              src="./img/rafael.png"
              srcset="./img/rafael.png 1x, ./img/rafael@2x.png 2x"
              alt="Rafael M"
            />
            <p class="text-wrap-reviews"><span class="name-reviews">🔥 Rafael M. (Spain)</span> "Fast, furious, and smart. I LOVE the crash mechanic — it punishes bad plays and rewards timing. PvP is intense!"
            </p>
          </li>
          <li class="swiper-slide slide-reviews">
            
            <img
              class="img-reviews"
              src="./img/kayla.png"
              srcset="./img/kayla.png 1x, ./img/kayla@2x.png 2x"
              alt="kayla B"
            />
            <p class="text-wrap-reviews"><span class="name-reviews">🧙 Kayla B. (USA)</span> "The best tower defense game I`ve tried in years. The merging system makes you think three moves ahead."
            </p>
          </li>
          <li class="swiper-slide slide-reviews">
            <img
              class="img-reviews"
              src="./img/jon.png"
              srcset="/img/jon.png 1x, ./img/jon@2x.png 2x"
              alt="Jon P"
            />
            <p class="text-wrap-reviews"><span class="name-reviews">🏰 Jon P. (UK)</span> "Great blend of action and strategy. Matches are quick but deeply tactical. Visuals are crisp, too."
            </p>
          </li>
          <li class="swiper-slide slide-reviews">
            
            <img
              class="img-reviews"
              src="./img/hinata.png"
              srcset="./img/hinata.png 1x, ./img/hinata@2x.png 2x"
              alt="Hinata Y"
            />
            <p class="text-wrap-reviews"><span class="name-reviews">🎯 Hinata Y. (Japan)</span> "I`ve played 100+ hours. Merge + real-time PvP? Genius combo. Give us more maps!"
            </p>
          </li>
          <li class="swiper-slide slide-reviews">
            <img
              class="img-reviews"
              src="./img/malik.png"
              srcset="./img/malik.png 1x, ./img/malik@2x.png 2x"
              alt="Malik S"
            />
            <p class="text-wrap-reviews"><span class="name-reviews">🧠 Malik S. (UAE)</span> Challenging in the best way. I learn something new every crash. Perfect for strategy lovers.</p>
          </li>
        </ul>
        <div class="div-btn-reviews">
          <button class="btn-prev prev" data-prev="prev">
            <svg class="svg-reviews" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_left"></use>
            </svg>
          </button>
          <button class="btn-next next" data-next="next">
            <svg class="svg-reviews" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_rigth"></use>
            </svg>
          </button>
        </div>
      </div>
      <p class="colon-reviews">Challenging in the best way. I learn something new every crash. Perfect for strategy lovers.”</p>
    </div>
  </section>