<section class="screen" id="screenshots">
  <div class="container">
    <div class="screen">
      <img
        class="title-image-sc"
        src="/img/screen.png"
        srcset="/img/screen.png 1x, /img/screen@2x.png 2x"
        alt="photo"
      />
      <div class="div-titile">
        <h2 class="title">Screenshots</h2>
        <p class="text-screen">Include:</p>
      </div>
    </div>
    <div class="swiper" id="sc-swiper">
      <ul class="swiper-wrapper screen-swiper">
        <li class="swiper-slide slide-sc">
          <img
            class="wrap-img"
            src="/img/sc1.png"
            srcset="/img/sc1.png 1x, /img/sc1@2x.png 2x"
            alt="screen shot1"
          />
          <p class="text-wrap">Merge battlefield with energy animation</p>
        </li>
        <li class="swiper-slide slide-sc">
          <p class="text-wrap">PvP arena during real-time clash</p>
          <img
            class="wrap-img"
            src="/img/sc2.png"
            srcset="/img/sc2.png 1x, /img/sc2@2x.png 2x"
            alt="screen shot2"
          />
        </li>
        <li class="swiper-slide slide-sc">
          <img
            class="wrap-img"
            src="/img/sc3.png"
            srcset="/img/sc3.png 1x, /img/sc3@2x.png 2x"
            alt="screen shot3"
          />
          <p class="text-wrap">Crash wave in slow-motion</p>
        </li>
        <li class="swiper-slide slide-sc">
          <p class="text-wrap">Hero selection and ranking</p>
          <img
            class="wrap-img"
            src="/img/sc4.png"
            srcset="/img/sc4.png 1x, /img/sc4@2x.png 2x"
            alt="screen shot4"
          />
        </li>
        <li class="swiper-slide slide-sc">
          <img
            class="wrap-img"
            src="/img/sc5.png"
            srcset="/img/sc5.png 1x, /img/sc5@2x.png 2x"
            alt="screen shot5"
          />
          <p class="text-wrap">Acorn Kingdom defense in late-stage battle</p>
        </li>
      </ul>
      <div class="div-btn">
        <button class="btn-prev prev" data-prev="prev">
          <svg class="svg-sc" width="15" height="32">
            <use href="/img/sprite.svg#icon-arr_m_left"></use>
          </svg>
        </button>
        <button class="btn-next next" data-next="next">
          <svg class="svg-sc" width="15" height="32">
            <use href="/img/sprite.svg#icon-arr_m_rigth"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
