<section class="story" id="story-world">
    <div class="container">
      <div class="story">
        <img
          class="title-img-story"
          src="/img/storyicon.png"
          alt="story"
        />
        <div class="div-titile-story">
          <h2 class="title">Story & World</h2>
          <p class="text-story">Defend the Acorn Kingdoms from Mazdor the Black
        </p>
      

        </div>
       
      </div>
      <div class="wrapper-imgbg">
        <img
        class="bg-img-story"
        src="/img/storybgdt.png"
        alt="storybg"
              />
              <img
        class="bgs-img-story"
        src="/img/storybg.png"
        alt="storybg"
              />
    </div>
    <div class="div-colon-bg-story">
        <p class="colon-bg-story">You, the last hunter-general, must rally your Pals, merge your armies, and protect the remaining towers of light.</p>
    </div>
    <h3 class="title-swiper-story">Explore fantasy regions:</h3>
      <div class="swiper" id="story-swiper">
        <ul class="swiper-wrapper story-swiper">
          <li class="swiper-slide slide-story">
            <img
              class="img-story"
              src="/img/story1.png"
              srcset="/img/story1.png 1x, /img/story1@2x.png 2x"
              alt="Story 1"
            />
            <p class="text-wrap-story">🌳 Greenroot Valley
            </p>
          </li>
          <li class="swiper-slide slide-story">
            
            <img
              class="img-story"
              src="/img/story2.png"
              srcset="/img/story2.png 1x, /img/story2@2x.png 2x"
              alt="Story 2"
            />
            <p class="text-wrap-story">🏔 Stormrise Peaks
            </p>
          </li>
          <li class="swiper-slide slide-story">
            <img
              class="img-story"
              src="/img/story3.png"
              srcset="/img/story3.png 1x, /img/story3@2x.png 2x"
              alt="Story 3"
            />
            <p class="text-wrap-story">🌫 Ashen Plains
            </p>
          </li>
          <li class="swiper-slide slide-story">
            
            <img
              class="img-story"
              src="/img/story4.png"
              srcset="/img/story4.png 1x, /img/story4@2x.png 2x"
              alt="Story 4"
            />
            <p class="text-wrap-story">🔥 Volcanic Rift
            </p>
          </li>
          <li class="swiper-slide slide-story">
            <img
              class="img-story"
              src="/img/story5.png"
              srcset="/img/story5.png 1x, /img/story5@2x.png 2x"
              alt="Story 5"
            />
            <p class="text-wrap-story">🌀 Maze of Shadows
            </p>
          </li>
        </ul>
        <div class="div-btn-story">
          <button class="btn-prev prev" data-prev="prev">
            <svg class="svg-story" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_left"></use>
            </svg>
          </button>
          <button class="btn-next next" data-next="next">
            <svg class="svg-story" width="15" height="32">
              <use href="/img/sprite.svg#icon-arr_m_rigth"></use>
            </svg>
          </button>
        </div>
      </div>
      <p class="colon-story">Each land offers new enemies, lore, and battle formations.</p>
    </div>
  </section>