<section class="strategy section" id="strategy">
  <div class="container">
    <div class="strategy-wrapper">
      <div class="strategy-data">
        <div class="strategy-start">
          <img
            class="strategy-icon-img"
            src="../img/brain.png"
            alt="strategy`s icon"
            width="76"
            height="90"
          />
          <div class="strategy-text-wrapper">
            <h2 class="strategy-title">Strategy Center</h2>
            <h3 class="strategy-subtitle">
              Think Before You Place – <br />Every Tile Counts
            </h3>
          </div>
        </div>

        <ul class="strategy-list">
          <li class="strategy-list-item">
            <div class="strategy-num">
              <img
                class="strategy-num-img"
                src="../img/num1.png"
                alt="number 1"
                width="45"
                height="45"
              />
            </div>
            <p class="strategy-text">Learn enemy spawn patterns</p>
          </li>

          <li class="strategy-list-item">
            <div class="strategy-num">
              <img
                class="strategy-num-img"
                src="../img/num2.png"
                alt="number 2"
                width="45"
                height="45"
              />
            </div>
            <p class="strategy-text">
              Use defensive formations that absorb crash waves
            </p>
          </li>

          <li class="strategy-list-item">
            <div class="strategy-num">
              <img
                class="strategy-num-img"
                src="../img/num3.png"
                alt="number 3"
                width="45"
                height="45"
              />
            </div>
            <p class="strategy-text">
              Use crash timers, energy cores, or Hero Focus to delay collapse
            </p>
          </li>

          <li class="strategy-list-item">
            <div class="strategy-num">
              <img
                class="strategy-num-img"
                src="../img/num4.png"
                alt="number 4"
                width="45"
                height="45"
              />
            </div>
            <p class="strategy-text">
              Don’t over-commit early – the boss wave is coming
            </p>
          </li>

          <li class="strategy-list-item">
            <div class="strategy-num">
              <img
                class="strategy-num-img"
                src="../img/num5.png"
                alt="number 5"
                width="45"
                height="45"
              />
            </div>
            <p class="strategy-text">
              Balance merge efficiency vs. field coverage
            </p>
          </li>
        </ul>
      </div>

      <p class="strategy-info">Strategic placement wins wars.</p>
    </div>
  </div>
</section>
