@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@700&display=swap');

:root {
  --font-family: 'Chakra Petch', sans-serif;
  --second-family: 'Orbitron', sans-serif;
  --third-family: 'Rajdhani', sans-serif;
  --font3: 'Roboto', sans-serif;

  --black: #231f3c;
  --accent-mint: #10deb1;
  --accent-yellow: #efbb31;
  --yeloow-2: #feea72;
  --dark-bg: #0c072c;
  --green-bg: #226158;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #226158 0%, #0d082c 51.16%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

section {
  scroll-margin-top: 45px;
  padding: 24px 0;
}

main {
  flex-grow: 1;
}

@media screen and (min-width: 1200px) {
  body {
    background: linear-gradient(91deg, #0c072c, #226158);
    background-size: cover;
  }

  section {
    scroll-margin-top: 80px;
    padding: 45px 0;
  }
}
