.footer {
  padding: 20px 0;
}

.footer-social {
  padding: 0 15px;
}

.footer-list-icons {
  display: flex;
  justify-content: start;
  gap: 47px;
  margin-bottom: 39px;
}

.social-icons {
  display: flex;
  justify-content: center;
  fill: var(--accent-mint);
}

.social-wrapper:hover .social-icons,
.social-wrapper:focus .social-icons {
  fill: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  gap: 82px;
  padding: 0 15px;
}

.footer-list-terms {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: end;
}

.footer-item-terms {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0em;
  text-align: right;
  color: var(--accent-mint);
}

.terms-descr:hover,
.terms-descr:focus {
  color: #fff;
}

.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 8px;
  line-height: 125%;
  text-align: end;
  color: var(--accent-mint);
  margin-top: 9px;
}

@media screen and (min-width: 1200px) {
  .footer {
    position: relative;
  }
  .container.footer {
    padding-top: 80px;
  }
  .footer-list-icons {
    gap: 112px;
    margin-bottom: 92px;
    margin-left: 500px;
  }
  .social-icons {
    width: 35px;
    height: 35px;
  }
  .footer-terms {
    padding-right: 35px;
  }
  .footer-list-terms {
    flex-direction: row;
    gap: 24px;
  }
  .footer-item-terms {
    font-size: 28px;
    line-height: 129%;
  }
  .footer-copyright {
    font-size: 20px;
    line-height: 180%;
  }
  .footer-logo img {
    position: absolute;
    top: 118px;
    left: 24px;
    width: 76px;
    height: 90px;
  }
}
