.reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .title-box {
    display: flex;
    justify-content: center;
  }
  .title-img {
    display: none;
  }
  .title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--accent-yellow);
    margin-bottom: 16px;
  }
  .text-reviews {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: var(--yeloow-2);
    margin-bottom: 16px;
  }
  .swiper {
    height: auto;
    position: relative;
  }
  .swiper-wrapper.reviews-swiper {
    display: flex;
  }
  .swiper-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .slide-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .div-btn-reviews {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 238px;
     align-items: center;
    transform: translateY(-50%);
    z-index: 1;
  }
  .prev,
  .next {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: none;
  }
  
  .svg-reviews {
    fill: var(--accent-mint);
  }
  
  .wrap-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 277px;
    padding: 8px 0;
  }
  .name-reviews {
    color: var(--accent-mint);
  }
  .text-wrap-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--yeloow-2);
    max-width: 240px;
  }
  .colon-reviews {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    .reviews {
      flex-direction: row;
      gap: 250px;
    }
  
    .div-titile-reviews {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .title-img {
      display: block;
      border-radius: 5px;
      padding: 10px;
      width: 90px;
      height: 90px;
    }
    .title {
      font-weight: 700;
      font-size: 56px;
      text-align: center;
    }
    .text-reviews {
        font-family: var(--second-family);
font-weight: 700;
font-size: 30px;
line-height: 167%;
text-align: center;
color: var(--yeloow-2);
    }
    .slide-reviews {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      align-items: center;
      
    }
   
   
    .div-btn-reviews {
      flex-direction: space-between;
    }
    .screen-swiper.static-view .swiper-button-next,
    .screen-swiper.static-view .swiper-button-prev {
      display: none !important;
    }
    
  
    .text-wrap-reviews {
      position: relative;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 136%;
      text-align: center;
      color: var(--yeloow-2);
    }
    .colon-reviews {
        display: flex;
        font-family: var(--second-family);
font-weight: 700;
font-size: 30px;
line-height: 167%;
text-align: center;
color: var(--accent-yellow);
margin-top: 36px;
    }
    
  }