.strategy-icon-img {
  display: none;
}

.strategy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

.strategy-data {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.strategy-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strategy-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: var(--accent-yellow);
  text-align: center;
}

.strategy-subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: var(--yeloow-2);
  text-align: center;
}

.strategy-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strategy-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.strategy-num-img {
  margin: 0 auto;
}

.strategy-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  color: var(--accent-mint);
  max-width: 288px;
  text-align: center;
}

.strategy-info {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--yeloow-2);
}

@media screen and (min-width: 1200px) {
  .strategy-data {
    gap: 34px;
  }
  .strategy-start {
    display: flex;
    flex-direction: row;
    gap: 370px;
  }
  .strategy-icon-img {
    display: block;
  }
  .strategy-text-wrapper {
    gap: 36px;
  }
  .strategy-title {
    font-size: 56px;
  }
  .strategy-subtitle {
    font-size: 30px;
    line-height: 167%;
  }
  .strategy-list {
    gap: 31px;
    margin: 0 auto;
  }
  .strategy-list-item {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 178px;
  }
  .strategy-num-img {
    width: 98px;
    height: 98px;
  }
  .strategy-text {
    max-width: 590px;
    font-size: 30px;
    line-height: 167%;
    width: 590px;
    height: 161px;
    border: 2px solid #feea72;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .strategy-info {
    font-size: 30px;
    line-height: 167%;
    color: var(--accent-yellow);
  }
}
